<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="StoreDemoSuite" parallel="none" thread-count="6">
<test name="ChromeTest" verbose="5">

  <parameter name="url" value="http://store.demoqa.com"></parameter>
  <parameter name="BrowserType" value="cHROME"></parameter>
<classes>
<class name="com.qa.tests.NewStoreDemoTests"/></classes>
</test>
</suite>